*,
html {
    margin: 0;
    padding: 0;
}




.navbar {
    background-color: #212838;
    font-size: 18;
    width: 100%;
    height: 12vh;
    position: fixed; /* Menetapkan elemen pada posisi tetap */
    top: 0; /* Menempatkan elemen di bagian atas */
    z-index: 1; /* Menetapkan lapisan tampilan */
    box-shadow: 0 0 5px 3px wheat;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.small-navbar {
    height: 8vh; /* Ukuran kecil saat di-scroll */
}

.UL-navbar{
    height: 70px;
    display: flex;
    justify-content: center ;
    align-items: center;
    
}

.li-navbar{
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: 0.2s;
    transition-delay: 10s;
    list-style-type: none;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex; /* Menampilkan elemen dalam mode flex */
    align-items: center;
}
.li-navbar::after {
    content: "";
    display: block;
    width: 0;
    height: 3.9px;
    background-color: whitesmoke; /* Warna garis */
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width .5s;
  }

.li-navbar:hover::after {
    width: 100%;
}

.logo img {
    height: 110%;
    width: auto;
    
    transition: height .5s;
    
}

.small-navbar .logo img {
    height: 90%; /* Ukuran logo saat di-scroll */
    
}

.a-navbar {
    color: wheat;
    text-decoration: none;
}

.discord {
    border: 2px solid whitesmoke ;
    border-radius: 30px;
    list-style-type: none;
    padding: 8px;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.dc-navbar {
    color: wheat;
    text-decoration: none;
}

.content-1 {
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360vh;
    background: url(kerrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Menambahkan posisi relatif untuk penempatan teks */
    
}

.caption {
    color: wheat;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute; 
    align-items: center;
    justify-content: center;
    top: 120; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    margin: 75 px;
    grid-gap: 20px;
    margin-top: 20vh;
    
}
img {
    object-fit: cover;
}
.grid > article {
    box-shadow: 10px 10px 5px 0px rgb(10, 10, 10);
    border-radius: 20px;
    text-align: center;
    background: whitesmoke;
    transition: transform;
    width: 350px; /* Atur lebar kotak */
    height: 300px; /* Atur tinggi kotak */
}

.grid > article img {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.konten{
    color: #333;
    
}

.grid > article:hover {
    transform: scale(.9);
    
}



/* /* .img-content1 {
    width: 710px;
    height: auto;
    border: 2px solid whitesmoke;
    margin: 5px;
} */



.container-footer {
    height: 60vh;
    background-color: #212838;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer img {
    height: 100px;
    width: auto;
    margin-right: 40px; /* Memberi jarak antara logo dan teks */
    margin-bottom: 120%;
    
}

.motivasi {
    position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
    top: 384%;
    left: 49%; /* Mengatur posisi horizontal ke tengah */
    transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
    /* text-align: center; Mengatur teks ke tengah */
}

.kata {
    position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
    top: 389%;
    left: 48%; /* Mengatur posisi horizontal ke tengah */
    transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
    text-align: center; 
}

.motiv {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d2dceb;
}

.circle2 {
    position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
    top: 400%;
    left: 48%; /* Mengatur posisi horizontal ke tengah */
    transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
    width: 50px;
    height: 50px;
    background-color: #212838;
    border-radius: 50%; /* Ini membuat lingkaran */
    overflow: hidden; /* Ini akan memotong gambar yang melebihi batas lingkaran */
    margin-right: 300px;
    border-color: #d2dceb; /* Warna outline merah (#e74c3c) */
    border-width: 2px; /* Lebar garis tepi (default) */
    border-style: solid; /* Gaya garis tepi (default) */
}

.circle2 img {
    width: 60%;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    
    
}

.circle2:hover {
    background-color: rgb(255, 255, 255); /* Warna latar belakang berubah saat hover */
    cursor: pointer; /* Ubah cursor menjadi tanda tangan saat hover */
  }

.circle3 {
    position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
    top: 400%;
    left: 42%; /* Mengatur posisi horizontal ke tengah */
    transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
    width: 50px;
    height: 50px;
    background-color: #212838;
    border-radius: 50%; /* Ini membuat lingkaran */
    overflow: hidden; /* Ini akan memotong gambar yang melebihi batas lingkaran */
    margin-right: 300px;
    border-color: #d2dceb; /* Warna outline merah (#e74c3c) */
    border-width: 2px; /* Lebar garis tepi (default) */
    border-style: solid; /* Gaya garis tepi (default) */
}

.circle3 img {
    width: 60%;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
    
    
}

.circle3:hover {
    background-color: rgb(255, 255, 255); /* Warna latar belakang berubah saat hover */
    cursor: pointer; /* Ubah cursor menjadi tanda tangan saat hover */
  }

.circle4 {
    position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
    top: 400%;
    left: 54%; /* Mengatur posisi horizontal ke tengah */
    transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
    width: 50px;
    height: 50px;
    background-color: #212838;
    border-radius: 50%; /* Ini membuat lingkaran */
    overflow: hidden; /* Ini akan memotong gambar yang melebihi batas lingkaran */
    margin-right: 300px;
    border-color: #d2dceb; /* Warna outline merah (#e74c3c) */
    border-width: 2px; /* Lebar garis tepi (default) */
    border-style: solid; /* Gaya garis tepi (default) */
}

.circle4 img {
    width: 50%;
    height: 50%;
    margin-top: 12px;
    margin-left: 12px;
    
    
}

.circle4:hover {
    background-color: rgb(255, 255, 255); /* Warna latar belakang berubah saat hover */
    cursor: pointer; /* Ubah cursor menjadi tanda tangan saat hover */
  }

  .copy{
    position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
    top: 410%;
    left: 40%; /* Mengatur posisi horizontal ke tengah */
    transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
    text-align: center; 
}

.craft {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d2dceb;
}

.copyright{
    
    position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
    top: 410.5%;
    left: 48.5%; /* Mengatur posisi horizontal ke tengah */
    transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
    text-align: center; 
}

.copyright img {
    width: 25px;
    height: 25px;
}

.nama{
    position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
    top: 410%;
    left: 58%; /* Mengatur posisi horizontal ke tengah */
    transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
    text-align: center; 
}